
$primary-color: #1b019b;
$second-color: #2f5d4e;
$accentuation-color: #419d8e;
$tint-color: white;
$shade-color: black;
body {
  font-family: sans-serif;
  background-color: $primary-color;
  color: $tint-color;
  padding: 2rem;
}

h1 {
 
}
